<h1 class="text-center">Your Cart</h1>
<h1 *ngIf="!shoppingservice.cartItems.length" class="text-center">is Empty!</h1>

<table class='table table-hover' *ngIf="shoppingservice.cartItems.length">
  <thead class="thead-light">
    <tr>
      <th>Item Id</th>
      <th>Item Name</th>
      <th>Price</th>
      <th>Image</th>
      <th>Description</th>
      <th class="text-center">Quantity</th>
      <th>Total Price</th>
      <th></th>
    </tr>
  </thead>
  <!--CItem_ID: number,
      CItem_Name: string,
      CImage_Name: string,
      CDescription: string
      CAddedBy: string,
      CItem_Price: number,
      CQty: number,
      CTotalPrice: number-->
  <tbody>
    <tr *ngFor="let c of shoppingservice.cartItems">
      <td>{{ c.CItem_ID }}</td>
      <td>{{ c.CItem_Name }}</td>
      <td>₱{{ c.CItem_Price }}</td>
      <td><img src="../assets/images/{{c.CImage_Name}}" alt="" style="height: 56px; width: 56px;" /></td>
      <td>{{ c.CDescription }}</td>
      <td class="text-center">{{ c.CQty }}</td>
      <td>₱{{ c.CTotalPrice * c.CQty}}</td>
      <td><a [routerLink]="cart" (click)="shoppingService.removefromCart(c)">Remove from Cart</a></td>
    </tr>
  </tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="text-right">Total Amount</td>
    <td>₱ {{shoppingservice.GrandtotalPrice | number}}</td>
  </tr>
  
</table>

