<p *ngIf="!items">Loading</p>

<!--<p *ngFor="let s of str">{{s.msg}}</p>-->
<input style="border: 1px solid #4dd0e1; box-shadow: 0 0 0 1px #4dd0e1; border-radius: 3px;" type="text" placeholder="Search..">
<table class='table table-hover' *ngIf="items">
  <thead class="thead-light">
    <tr>
      <th>Item Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
      <th>Description</th>
      <th>Added By</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of items">
      <td>{{ i.id }}</td>
      <td>{{ i.name }}</td>
      <td>₱{{ i.price }}</td>
      <td><img src="../assets/images/{{i.image}}" alt="" style="height: 56px; width: 56px;" /></td>
      <td>{{ i.description }}</td>
      <td>{{ i.addedBy }}</td>
      <td><a [routerLink]="" (click)="addtoCart(i)">Add to Cart</a></td>
    </tr>
  </tbody>
</table>

